#jumlahPengunjung > .container {
    clip-path: polygon(0 0, 100% 10%, 100% 85%, 0 100%);
    background: linear-gradient(-45deg, #2472fc, #8711c1);
    padding: 100px 0;
    /* animation: gradient 2s ease infinite; */
}

/* @keyframes gradient {
    0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
} */

.v-heading {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 4rem;
    color: #faffef;
}

.v-subheading {
    font-size: 1.5rem;
    color: #ccdaae;
}