@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@import "./components/navbar.css";
@import "./sections/masthead.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.content {
    padding: 10px 100px;
}

#curr-article-img {
    width: 50%;
}