.topnav {
    z-index: 3;
    padding-left: 0;
    height: var(--topnav-base-height);
    width: 100vw;
    background-color: var(--main-dark-blue);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.topnav > p {
    width: var(--sidenav-base-width);
    padding-left: 1rem;
    margin: 0;
    color: var(--sub-green);
    font-family: var(--headings-font-family);
    font-size: 1.5rem;
}

#sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
}

#sidebarToggle:hover {
    text-shadow: none !important;
}