#layoutSidenav {
    display: flex;
    position: fixed;
}

#layoutSidenav_nav {
    z-index: 2;
    height: calc(100vh - var(--topnav-base-height));
    width: var(--sidenav-base-width);
    flex-basis: var(--sidenav-base-width);
    flex-shrink: 0;
    /* transition: transform 0.15s ease-in-out; */
    /* transform: translateX(-(var(--sidenav-base-width))); */
    /* transform: translateX(0); */
}

.sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: var(--main-dark-blue);
    /* padding-top: var(--topnav-base-height); */
    color: #fafafa;
}

.sidenav-menu {
    flex-grow: 1;
    overflow-y: auto;
}

.sidenav-menu > nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sidenav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    color: var(--light-green);
}

.sidenav-link:hover, .sidenav-link:active {
    color: #fafafa;
    text-shadow: none !important;
}

.sidenav-link-icon {
    margin-right: 0.5rem;
}

.sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
    background-color: var(--sub-dark-blue);
}

@media only screen and (min-width: 992px) {
    /* #layoutSidenav_nav {
        transform: translateX(0);
    } */

    /* toggled */
    #layoutSidenav_nav {
        transform: translateX(-(var(--sidenav-base-width)));
    }
}