.btn-admin {
    background-color: var(--main-dark-blue);
    color: var(--sub-green);
}

.btn-admin:hover {
    background-color: var(--sub-green);
    color: var(--main-dark-blue);
}

.btn-outline-admin {
    border-color: var(--main-dark);
    color: var(--main-dark-blue);
}

.btn-outline-admin:hover {
    border: none;
    background-color: var(--main-dark-blue);
    color: var(--sub-green);
}