#landing-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--main-landing-navbar);
}

.navbar-toggler {
    padding: 0.75rem;
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    color: var(--main-green);
}

.navbar-toggler-icon:hover {
    text-shadow: var(--green-text-shadow);
}

.navbar-brand img{
    height: 3rem;
}

.nav-link {
    font-size: 1rem;
    color: var(--main-green);
    text-shadow: var(--black-text-shadow);
    font-family: var(--main-font-family);
    letter-spacing: var(--headings-letter-spacing);

}

.nav-link:hover, .nav-link:active {
    text-shadow: var(--green-text-shadow);
    color: var(--main-green);
}

@media only screen and (min-width: 992px) {
    #landing-navbar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 2s ease-in-out, padding-bottom 2s ease-in-out;
    }
 
    .navbar-brand {
        font-size: 3em;
        transition: font-size 2s ease-in-out;
    }

    .navbar-brand img {
        height: 4rem;
        transition: height 2s ease-in-out;
    }
}