#masthead-profil {
    height: 40vh;
    background-color: black;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.5), rgba(170, 255, 0, 0.5)), url("../../img/masthead-profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}          

#img-sk {       
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    box-shadow: 5px 5px #212429, 10px 10px #fff, 15px 15px #212429;
}

#struktur-organisasi{
    background-color: white;
}

#img-struktur {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    #img-sk {
        width: 90%;
    }
    #img-struktur {
        width: 100%;
    }
}