:root {
    --main-green: #184845;
    --sub-green: rgb(170, 255, 0);
    --trans-black: rgba(0, 0, 0, 0.3);
    --main-landing-navbar: #fafafa;
    --black-text-shadow: 2px 6px 4px var(--trans-black);
    --green-text-shadow: 2px 6px 4px var(--sub-green);
    --black-rounded-shadow: 0 0 6px var(--trans-black);
}
